body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #f8f1ea;
}

.planner-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 60px; /* Отступ от меню */
    width: 100%; /* На всю ширину страницы */
}

.section {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: calc(100% - 40px); /* Учитываем отступы */
    box-sizing: border-box;
    height: 150px; /* Фиксированная высота блока */
    transition: height 0.3s ease, padding 0.3s ease; /* Плавное изменение высоты и отступов */
    overflow: hidden; /* Скрытие содержимого за пределами блока */
    transition: max-height 0.3s ease;
}

.section h2 {
    margin: 0;
    font-size: 18px; /* Уменьшенный размер текста */
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.section-content {
    display: none; /* Скрыто по умолчанию */
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 0; /* По умолчанию скрыто */
    overflow: hidden; /* Скрываем содержимое, если блок закрыт */
}

.section.open .section-content {
    display: block;
    opacity: 1;
    height: auto; /* Высота по содержимому, если открыто */
    padding-top: 10px;
}

.section.open {
    height: 150px; /* Блок остается фиксированного размера */
}

span.arrow {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.section.open span.arrow {
    transform: rotate(180deg); /* Поворот стрелки */
}
